<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="90">
    <mat-toolbar color="primary">
      <span>Register</span>
    </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="signUpProcess()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
      <div fxLayoutAlign="center center" class="create-div">
        <a class="padding">Have an account already?</a> 
        <a href="/login" style="text-decoration: none;">Go Login</a>
      </div>
    </form>
  </mat-card>
</div>
